html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Aleo", "Arial", sans-serif;
    color: #0d0d0d;
    background-color: #ffffff;
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
    line-height: 2.4rem;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Aleo";
    src: url("../../assets/fonts/aleo/Aleo-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Aleo";
    src: url("../../assets/fonts/aleo/Aleo-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Red Hat";
    src: url("../../assets/fonts/red_hat_text/RedHatText-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Red Hat";
    src: url("../../assets/fonts/red_hat_text/RedHatText-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

  .wrapper {
    max-width: 1200px;
    margin: auto;
  }